
/* VARIABLES */

:root {
  --backgroundLight: rgba(253, 238, 220, 1);
  --backgroundClassic: #3DD0FF;
  --sectionColor: #FFB830;
  --textColor: rgba(255, 36, 66, 1);

  --textFont: 'Barrio', cursive;
  --h1Size: 100px;
  --h2Size: 80px;
}

/* COMMON STYLES */

* {
padding : 0;
margin: 0;
box-sizing: border-box;
}

body{
  background-color: var(--backgroundClassic);
}

div.navigationButtonsMain {
  display: flex;
  justify-content: space-between;
  margin: 100px 100px 100px 100px;
}

input[name="shopButton"], input[name="inventoryButton"] {
  width: 150px;
  height: 150px;
}

h1 {
  color: var(--textColor);
  font-family: var(--textFont);
  font-size: var(--h1Size);
}

h2{
  color: var(--textColor);
  font-family: var(--textFont);
  font-size: var(--h2Size);
}

div.title{
  display: flex;
  justify-content: center;
  margin: 130px auto auto auto;
}

div.goods{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px auto auto auto;
}

.row{
  background-color: var(--sectionColor);
  width: 700px;
  height: 200px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto 50px auto;
}


/* MAIN STYLES */

body.mainPage{
  background-color: var(--backgroundLight);
}

.wingsNumber {
  display: flex;
  justify-content: center;
  margin: 100px auto auto 20px;
}

.falingImages {
  display: flex;
  justify-content: center;
  margin: 70px auto 20px auto;
}

img[name="firstWing"] {
    height: 250px;
    width: auto;
    margin: auto 50px auto auto;
    opacity: 0;
  }

img[name="secondWing"] {
    height: 250px;
    width: auto;
    margin: 150px auto auto 20px;
}

.bucket {
  display: flex;
  justify-content: center;
  height: 700px;
  margin: 20px;
}


/* SHOP STYLES */

div.shopChicken{
  display: flex;
  justify-content: flex-end;
}


/* INVENTORY STYLES */

img.faceImg{
  height: 210px;
  width: 165px;
}

div.colonel{
  display: flex;
  justify-content: center;
}

img.colonelImg{
  height: 500px;
  width: 250px;
}

/* SETTINGS STYLES */




/* ANIMATION */

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-3deg); }
  20% { transform: translate(-3px, 0px) rotate(3deg); }
  30% { transform: translate(3px, 2px) rotate(-3deg); }
  40% { transform: translate(1px, -1px) rotate(3deg); }
  50% { transform: translate(-1px, 2px) rotate(-3deg); }
  60% { transform: translate(-3px, 1px) rotate(3deg); }
  70% { transform: translate(3px, 1px) rotate(-3deg); }
  80% { transform: translate(-1px, -1px) rotate(3deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-3deg); }
}

input[name="bucket"] {
  animation: shake;
  animation-duration: 0.60s;
  animation-iteration-count: 4 ;
}

input[name="bucket"]:hover {
  animation: shake;
  animation-duration: 0.60s;
  animation-iteration-count: infinite;
}
